
.blu-color{
   color: #1abc9c;;
}

.border-radius{
border-radius: 2%;
}

ul{
    list-style-type: none;
}

.profession{
    font-size: 12px;
}

.justify-content{
    justify-content: center;
}


.m_s-text{
    font-size: 12px;
   
}

.m_s-download-text, .m_s-download-icon{
   
    font-size: 11px;
    
     
}
.m_s-download-button{
    border-color: white;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 10px;
}

.m_s-font{
    font-size: 13px;
    
}
.m_s-text-footer{
    width: 90%;
    font-size: 15px;
}
 .down-footer {
    height: 70px;
 }

@media screen and (min-width:768px) {
    .m_s-text{
        width: 35%;
        
    }
    .m_s-aroundWeb-text{
        font-size: 15px;
        padding-left: 1rem;
    }
    .m_s-aboutFreel-text{
        font-size: 15px;
        margin-right: 1rem;
    }

    .m_s-text-footer{
        font-size: 14px;
    }
    
   
    
}


@media screen and (min-width:992px) {
    .m_s-address {
        font-size: 15px;
    }
   

}